# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Eclipse / jdtls
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store

# Local config
.env

# Compiled
*.class
*.jar
